.left-sidebar{
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225,225 ,225);
    border-right: solid 3px #ef8236;
}